# # CitiBike Predictive Model

In this code, I use the prepped dataframe from prior steps that merged the weather data with the citibike data. I run a series of tests on sample data to determine the right variables to use in my Linear Regression model. To start, I imported all necessary packages, including the model packages from SciKitLearn

Step 1) I cleaned the data to improve my accuracy results. Any data that would be considered outliers would skew the accuracy of my results.

Step 2) To Prepare to dummy my categorical variables, i created new columns in the dataframe for day of week and month of year

Step 3) I took a random sample (6.7%) of the master dataframe to make the data more manageable when running tests

Step 4) Using this random sample, I dummified all my categorical data such as gender, usertype, weather event, day of week and month of year

Step 5) I concatenated these dummies with the original random sample

Step 6) I created a coefficient matrix and indexed only the tripduration column to determine which variables have the strongest impact on tripduration. I will be initially using these variables in the master model

Step 7) Normalize the continuous variables that will impact trip duration because the scales of those variable are all different but because those scales are different it will impact the accuracy of the result

Step 8) User the original master dataframe to create dummies of the same one i used in the random sample and then concanate this dataframe with the original 

Step 9) Take a random sample (8.5%) of this new concatenated master dataframe to have one more manageable to work with 

Step 10) Create two dataframes, one with only tripduration (the target variable) and one with all the remaining predictor variables

Step 11) Create your test and training sets, with 20% for testing and 80% for training.

Step 12) Run the model and calculate the R^2 to reveal model accuracy

In [1]:
#import pandas as pd
import pandas as pd

In [2]:
#import numpy as np
import numpy as np

In [3]:
#import datetime as dt
import datetime as dt

In [4]:
#import the Linear Regression package from SK Learn to create the linear regression model
from sklearn.linear_model import LinearRegression

#import the train,test split package to succeessfully create a model that uses a proper testing and training set 
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

In [6]:
ls

2017 Citibike Data.csv              201710-citibike-tripdata.csv
201701-citibike-tripdata.csv        201711-citibike-tripdata.csv
201702-citibike-tripdata.csv        201712-citibike-tripdata.csv
201703-citibike-tripdata.csv        CitiBike Data for Machine.csv
201704-citibike-tripdata.csv        CitiBike Prediction Notebook.ipynb
201705-citibike-tripdata.csv        CitiBike_Data_for_Machine1.csv
201706-citibike-tripdata.csv        Citibike Data Analysis.ipynb
201707-citibike-tripdata.csv        Untitled.ipynb
201708-citibike-tripdata.csv        Wunderground Weather Data.csv
201709-citibike-tripdata.csv        attribute_histogram_plots.png

In [7]:
#import the prepped dataframe that contains weather data and start date and age and distance
master_df=pd.read_csv("CitiBike_Data_for_Machine1.csv")
master_df.head()

/Users/Matthew.Giancristofaro@ibm.com/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,index,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station id,end station name,...,Sea Level Press. (in) low,Visibility (mi) high,Visibility (mi) avg,Visibility (mi) low,Wind (mph) high,Wind (mph) avg,Wind (mph) high.1,Precip. (in),Event,day of week
0,0,0,11.333333,2017-01-01 00:00:21,2017-01-01 00:11:41,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,...,29.89,10,10,10,12,5,23,0.0,0,6
1,1,1,21.366667,2017-01-01 00:00:45,2017-01-01 00:22:08,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,...,29.89,10,10,10,12,5,23,0.0,0,6
2,2,2,10.800000,2017-01-01 00:00:57,2017-01-01 00:11:46,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,...,29.89,10,10,10,12,5,23,0.0,0,6
3,3,3,10.516667,2017-01-01 00:01:10,2017-01-01 00:11:42,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,...,29.89,10,10,10,12,5,23,0.0,0,6
4,4,4,10.350000,2017-01-01 00:01:25,2017-01-01 00:11:47,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,...,29.89,10,10,10,12,5,23,0.0,0,6

In [8]:
#clean the data

#drop all rows where age > 70
master_df=master_df[master_df["age"]<70]

#drop all rows where trip distance is 0
master_df=master_df[master_df["Distance in km"] != 0]

#drop all rows where trip duration is > 2.5 hours
master_df=master_df[master_df["tripduration"]<60]

In [9]:
round(master_df.describe(),2)

,Unnamed: 0,index,tripduration,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,...,Sea Level Press. (in) avg,Sea Level Press. (in) low,Visibility (mi) high,Visibility (mi) avg,Visibility (mi) low,Wind (mph) high,Wind (mph) avg,Wind (mph) high.1,Precip. (in),day of week
count,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00,14349740.00,...,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00,15816543.00
mean,8187934.11,755327.01,13.04,40.74,-73.98,1340.05,40.74,-73.98,23768.42,1979.19,...,30.02,29.93,9.97,9.12,6.92,12.87,4.77,20.88,0.07,2.85
std,4734311.91,493664.56,9.36,0.07,0.12,1341.78,0.04,0.06,5346.14,11.35,...,0.20,0.22,0.23,1.60,3.58,3.44,2.04,5.97,0.25,1.93
min,0.00,0.00,1.02,0.00,-74.03,72.00,0.00,-74.07,14529.00,1948.00,...,29.38,28.92,7.00,3.00,0.00,7.00,1.00,7.00,0.00,0.00
25%,4081448.50,340592.50,6.18,40.72,-74.00,359.00,40.72,-74.00,18665.00,1971.00,...,29.91,29.82,10.00,9.00,3.00,10.00,3.00,17.00,0.00,1.00
50%,8193120.00,681345.00,10.22,40.74,-73.99,485.00,40.74,-73.99,25477.00,1982.00,...,30.01,29.93,10.00,10.00,9.00,13.00,5.00,20.00,0.00,3.00
75%,12296319.50,1141285.00,17.47,40.76,-73.98,3140.00,40.76,-73.98,28122.00,1988.00,...,30.14,30.04,10.00,10.00,10.00,15.00,6.00,24.00,0.01,4.00
max,16364656.00,1897591.00,59.98,40.81,0.00,3654.00,40.81,0.00,33481.00,2001.00,...,30.68,30.61,10.00,10.00,10.00,33.00,18.00,48.00,3.03,6.00

In [ ]:
list(master_df.columns.values)

In [10]:
#convert the day of week column to strings, prepping to be dummified
master_df['day of week']=master_df['day of week'].astype(str)

In [11]:
#create a new column called month of year, and convert the type of data to string variables to prep for dummies
master_df['Month of Year']=pd.to_datetime(master_df['startday']).dt.month.astype(str)

In [12]:
#create a dataframe of a random samplesize of the master dataframe to determine which variables impact the target variable most
master_df_rand = master_df.sample(frac = 0.067, random_state = 1)
master_df_rand = master_df_rand.reset_index(drop=True)
master_df_rand

,Unnamed: 0,index,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station id,end station name,...,Visibility (mi) high,Visibility (mi) avg,Visibility (mi) low,Wind (mph) high,Wind (mph) avg,Wind (mph) high.1,Precip. (in),Event,day of week,Month of Year
0,4355490,794098,17.816667,2017-05-17 08:37:25,2017-05-17 08:55:15,E 6 St & Avenue B,40.724537,-73.981854,264,Maiden Ln & Pearl St,...,10,10,10,12,6,23,0.00,0,2,5
1,8125000,1308746,7.133333,2017-07-25 09:24:48,2017-07-25 09:31:56,Broadway & W 51 St,40.762288,-73.983362,359,E 47 St & Park Ave,...,10,10,9,10,5,14,0.00,0,1,7
2,6164666,1080006,7.483333,2017-06-20 14:19:25,2017-06-20 14:26:55,E 20 St & Park Ave,40.738274,-73.987520,474,5 Ave & E 29 St,...,10,8,3,15,5,24,0.03,Rain,1,6
3,1941131,422808,5.666667,2017-03-21 09:37:53,2017-03-21 09:43:33,W 20 St & 11 Ave,40.746745,-74.007756,3224,W 13 St & Hudson St,...,10,10,10,13,4,18,0.00,0,1,3
4,7893811,1077557,25.050000,2017-07-20 18:03:05,2017-07-20 18:28:09,Grand Army Plaza & Central Park S,40.764397,-73.973715,3316,W 104 St & Amsterdam Ave,...,10,9,4,12,3,17,0.01,Rain,3,7
5,3707978,146586,8.233333,2017-05-03 15:00:18,2017-05-03 15:08:32,Jay St & Tech Pl,40.695065,-73.987167,430,York St & Jay St,...,10,10,10,18,8,31,0.00,0,2,5
6,14160481,16440,7.683333,2017-11-01 09:44:48,2017-11-01 09:52:30,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3119,Vernon Blvd & 50 Ave,...,10,10,10,10,3,16,0.00,0,2,11
7,10215072,1663219,12.800000,2017-08-29 08:54:54,2017-08-29 09:07:43,Barrow St & Hudson St,40.731724,-74.006744,327,Vesey Pl & River Terrace,...,10,9,4,15,8,21,0.10,Rain,1,8
8,16042482,567792,8.666667,2017-12-17 09:43:25,2017-12-17 09:52:05,Congress St & Clinton St,40.688153,-73.995209,2000,Front St & Washington St,...,10,10,10,9,3,12,0.00,0,6,12
9,15895945,421255,7.933333,2017-12-12 06:04:43,2017-12-12 06:12:39,Cleveland Pl & Spring St,40.722104,-73.997249,491,E 24 St & Park Ave S,...,10,10,6,17,7,33,0.00,Snow,1,12
10,6870083,53829,8.033333,2017-07-02 14:02:05,2017-07-02 14:10:08,9 Ave & W 45 St,40.760193,-73.991255,495,W 47 St & 10 Ave,...,10,9,5,12,5,19,0.00,0,6,7
11,14476808,332767,15.783333,2017-11-06 17:55:08,2017-11-06 18:10:55,E 23 St & 1 Ave,40.736502,-73.978095,504,1 Ave & E 16 St,...,10,9,5,13,5,21,0.01,Rain,0,11
12,3066975,820987,11.066667,2017-04-19 19:46:38,2017-04-19 19:57:42,W 25 St & 6 Ave,40.743954,-73.991449,428,E 3 St & 1 Ave,...,10,10,10,16,6,23,0.00,Rain,2,4
13,10955615,587264,7.000000,2017-09-11 16:45:22,2017-09-11 16:52:23,Broadway & W 32 St,40.748549,-73.988084,453,W 22 St & 8 Ave,...,10,10,10,9,2,12,0.00,0,0,9
14,9105559,553706,11.183333,2017-08-10 16:30:28,2017-08-10 16:41:39,W 49 St & 8 Ave,40.762272,-73.987882,434,9 Ave & W 18 St,...,10,10,8,9,2,16,0.00,0,3,8
15,838086,111410,8.116667,2017-02-04 15:50:32,2017-02-04 15:58:39,E 14 St & Avenue B,40.729387,-73.977724,497,E 17 St & Broadway,...,10,10,10,16,8,26,0.00,0,5,2
16,15875972,401282,16.466667,2017-12-11 15:34:13,2017-12-11 15:50:42,Vernon Blvd & 47 Rd,40.744907,-73.953457,3100,Nassau Ave & Newell St,...,10,10,10,13,5,22,0.00,0,0,12
17,6704967,1620307,13.183333,2017-06-29 08:49:25,2017-06-29 09:02:36,Mercer St & Spring St,40.723627,-73.999496,491,E 24 St & Park Ave S,...,10,10,10,12,5,22,0.00,0,3,6
18,2178014,659691,12.566667,2017-03-29 15:24:06,2017-03-29 15:36:41,Rivington St & Ridge St,40.718502,-73.983299,369,Washington Pl & 6 Ave,...,10,10,4,18,8,27,0.00,0,2,3
19,13899196,1652747,5.783333,2017-10-27 07:36:34,2017-10-27 07:42:22,Avenue D & E 3 St,40.720828,-73.977932,350,Clinton St & Grand St,...,10,10,2,10,4,17,0.00,0,4,10
20,16190344,715654,30.216667,2017-12-20 20:36:57,2017-12-20 21:07:10,Forsyth St & Broome St,40.718939,-73.992663,3347,Van Brunt St & Wolcott St,...,10,10,10,16,7,28,0.00,0,2,12
21,7575879,759625,23.733333,2017-07-15 15:44:49,2017-07-15 16:08:33,Riverside Dr & W 78 St,40.784145,-73.983625,284,Greenwich Ave & 8 Ave,...,10,6,2,12,3,17,0.00,0,5,7
22,15765324,290634,10.600000,2017-12-07 17:08:52,2017-12-07 17:19:28,Grand St & Greene St,40.721655,-74.002347,417,Barclay St & Church St,...,10,10,10,17,7,31,0.00,0,3,12
23,2984940,738952,4.766667,2017-04-18 09:18:24,2017-04-18 09:23:10,Broadway & W 51 St,40.762288,-73.983362,484,W 44 St & 5 Ave,...,10,10,10,15,7,24,0.00,0,1,4
24,1500999,774323,4.800000,2017-02-28 16:15:33,2017-02-28 16:20:21,E 32 St & Park Ave,40.745712,-73.981948,2012,E 27 St & 1 Ave,...,10,10,7,10,4,19,0.00,0,1,2
25,1677028,158705,4.900000,2017-03-06 16:58:14,2017-03-06 17:03:09,Central Park West & W 85 St,40.784727,-73.969617,3172,W 74 St & Columbus Ave,...,10,10,10,10,3,16,0.00,0,0,3
26,3582020,20628,32.800000,2017-05-01 13:24:38,2017-05-01 13:57:27,Laight St & Hudson St,40.721854,-74.007718,368,Carmine St & 6 Ave,...,10,6,3,12,5,21,0.00,0,0,5
27,1031679,305003,5.550000,2017-02-14 22:04:34,2017-02-14 22:10:08,12 Ave & W 40 St,40.760875,-74.002777,72,W 52 St & 11 Ave,...,10,10,10,13,5,20,0.00,0,1,2
28,5178406,93746,13.133333,2017-06-02 13:09:16,2017-06-02 13:22:24,E 9 St & Avenue C,40.725213,-73.977688,540,Lexington Ave & E 29 St,...,10,10,10,16,4,24,0.01,0,4,6
29,8219766,1403512,20.400000,2017-07-26 17:32:28,2017-07-26 17:52:52,Kingston Ave & Herkimer St,40.678907,-73.941428,3354,3 St & Prospect Park West,...,10,10,10,9,4,17,0.00,0,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059678,14616291,472250,6.900000,2017-11-09 15:44:13,2017-11-09 15:51:08,N 15 St & Wythe Ave,40.724055,-73.955736,2002,Wythe Ave & Metropolitan Ave,...,10,10,4,10,3,18,0.00,0,3,11
1059679,14864992,720951,25.316667,2017-11-15 16:37:35,2017-11-15 17:02:54,W 43 St & 6 Ave,40.755273,-73.983169,357,E 11 St & Broadway,...,10,10,10,10,5,17,0.00,0,2,11
1059680,15164250,1020209,13.400000,2017-11-22 16:30:04,2017-11-22 16:43:28,W 27 St & 10 Ave,40.750182,-74.002184,484,W 44 St & 5 Ave,...,10,7,2,17,7,28,0.21,Rain,2,11
1059681,8175944,1359690,5.616667,2017-07-26 01:27:20,2017-07-26 01:32:58,University Pl & E 8 St,40.731437,-73.994903,358,Christopher St & Greenwich St,...,10,10,10,9,4,17,0.00,0,2,7
1059682,9217051,665198,4.916667,2017-08-12 12:08:54,2017-08-12 12:13:49,E 17 St & Broadway,40.737050,-73.990093,472,E 32 St & Park Ave,...,10,9,4,9,3,16,0.11,Rain,5,8
1059683,7391840,575586,4.500000,2017-07-11 21:28:57,2017-07-11 21:33:27,Hicks St & Montague St,40.695128,-73.995951,3402,Court St & State St,...,10,10,9,13,3,22,0.00,0,1,7
1059684,5446117,361457,4.933333,2017-06-07 16:00:10,2017-06-07 16:05:06,MacDougal St & Washington Sq,40.732264,-73.998522,348,W Broadway & Spring St,...,10,10,10,12,3,17,0.00,0,2,6
1059685,10809468,441117,9.416667,2017-09-09 11:56:50,2017-09-09 12:06:15,University Pl & E 14 St,40.734927,-73.992005,346,Bank St & Hudson St,...,10,10,10,12,4,18,0.00,0,5,9
1059686,3838722,277330,31.883333,2017-05-06 13:49:05,2017-05-06 14:20:58,Lexington Ave & E 24 St,40.740259,-73.984092,358,Christopher St & Greenwich St,...,10,5,1,15,6,26,0.18,Rain,5,5
1059687,16070014,595324,23.033333,2017-12-18 08:59:54,2017-12-18 09:22:56,Union St & Nevins St,40.679098,-73.987655,387,Centre St & Chambers St,...,10,9,5,13,5,20,0.02,0,0,12
1059688,9650175,1098322,19.483333,2017-08-19 17:57:53,2017-08-19 18:17:22,Concord St & Bridge St,40.697666,-73.984764,3016,Kent Ave & N 7 St,...,10,9,5,12,3,17,0.00,0,5,8
1059689,4374031,812639,5.533333,2017-05-17 14:25:24,2017-05-17 14:30:56,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,...,10,10,10,12,6,23,0.00,0,2,5
1059690,10866275,497924,19.233333,2017-09-10 11:26:45,2017-09-10 11:46:00,Forsyth St & Canal St,40.715816,-73.994224,3486,Schermerhorn St & Bond St,...,10,10,10,15,6,21,0.00,0,6,9
1059691,12633613,387164,6.400000,2017-10-06 18:22:42,2017-10-06 18:29:07,Clinton St & Grand St,40.715595,-73.987030,308,St James Pl & Oliver St,...,10,10,9,10,2,16,0.00,0,4,10
1059692,1717945,199622,7.150000,2017-03-07 21:48:29,2017-03-07 21:55:38,E 3 St & 1 Ave,40.724677,-73.987834,325,E 19 St & 3 Ave,...,10,8,4,13,4,20,0.10,Rain,1,3
1059693,13112551,866102,17.950000,2017-10-14 21:34:03,2017-10-14 21:52:01,Willoughby Ave & Hall St,40.691960,-73.965369,3016,Kent Ave & N 7 St,...,10,8,2,8,3,11,0.08,Rain,5,10
1059694,9069120,517267,4.833333,2017-08-09 23:52:47,2017-08-09 23:57:37,W 47 St & 10 Ave,40.762699,-73.993012,423,W 54 St & 9 Ave,...,10,10,10,8,1,14,0.00,0,2,8
1059695,6084522,999862,8.616667,2017-06-18 17:45:40,2017-06-18 17:54:18,West St & Chambers St,40.717548,-74.013221,358,Christopher St & Greenwich St,...,10,6,2,10,4,21,0.00,0,6,6
1059696,13381310,1134861,6.266667,2017-10-19 08:40:51,2017-10-19 08:47:08,E 20 St & 2 Ave,40.735877,-73.982050,382,University Pl & E 14 St,...,10,10,9,13,4,18,0.00,0,3,10
1059697,12408310,161861,7.866667,2017-10-03 16:40:41,2017-10-03 16:48:33,Howard St & Centre St,40.719105,-73.999733,293,Lafayette St & E 8 St,...,10,10,9,9,3,17,0.00,0,1,10
1059698,3048370,802382,16.583333,2017-04-19 14:03:02,2017-04-19 14:19:38,Lewis Ave & Madison St,40.686312,-73.935775,262,Washington Park,...,10,10,10,16,6,23,0.00,Rain,2,4
1059699,15347331,1203290,51.500000,2017-11-28 16:51:59,2017-11-28 17:43:30,Catherine St & Monroe St,40.711174,-73.996826,291,Madison St & Montgomery St,...,10,10,10,13,5,23,0.00,0,1,11
1059700,11519417,1151066,5.250000,2017-09-20 05:25:30,2017-09-20 05:30:46,Cathedral Pkwy & Broadway,40.804213,-73.966991,3314,W 95 St & Broadway,...,10,10,10,15,6,25,0.00,0,2,9
1059701,7940510,1124256,26.450000,2017-07-21 14:47:52,2017-07-21 15:14:20,W 4 St & 7 Ave S,40.734011,-74.002939,79,Franklin St & W Broadway,...,10,10,10,10,4,18,0.00,0,4,7
1059702,2799337,553349,8.833333,2017-04-14 14:14:24,2017-04-14 14:23:15,E 39 St & 2 Ave,40.747804,-73.973442,488,W 39 St & 9 Ave,...,10,10,10,10,4,18,0.00,0,4,4
1059703,11787159,1418808,17.750000,2017-09-23 22:03:35,2017-09-23 22:21:20,E 58 St & 3 Ave,40.760958,-73.967245,3143,5 Ave & E 78 St,...,10,10,10,12,5,18,0.00,0,5,9
1059704,12947064,700615,3.883333,2017-10-12 11:46:19,2017-10-12 11:50:13,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,245,Myrtle Ave & St Edwards St,...,10,10,6,18,9,27,0.07,Rain,3,10
1059705,12685660,439211,15.433333,2017-10-07 15:47:11,2017-10-07 16:02:38,8 Ave & W 33 St,40.751551,-73.993934,518,E 39 St & 2 Ave,...,10,7,2,10,4,16,0.00,0,5,10
1059706,8959612,407759,10.000000,2017-08-08 13:16:06,2017-08-08 13:26:06,9 Ave & W 22 St,40.745497,-74.001971,127,Barrow St & Hudson St,...,10,8,2,9,3,15,0.00,0,1,8
1059707,7745666,929412,14.766667,2017-07-18 12:41:13,2017-07-18 12:55:59,Congress St & Clinton St,40.688153,-73.995209,3344,Pioneer St & Van Brunt St,...,10,10,10,10,3,18,0.00,0,1,7

In [13]:
list(master_df_rand.columns.values)

['Unnamed: 0',
 'index',
 'tripduration',
 'starttime',
 'stoptime',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender',
 'Distance in km',
 'startday',
 'age',
 'speed in m/s',
 'Date',
 'Temp high (F)',
 'Temp avg (F)',
 'Temp low (F)',
 'Dew Point high',
 'Dew Point avg',
 'Dew Point low',
 'Humidity high',
 'Humidity avg',
 'Humidity low',
 'Sea Level Press. (in) high',
 'Sea Level Press. (in) avg',
 'Sea Level Press. (in) low',
 'Visibility (mi) high',
 'Visibility (mi) avg',
 'Visibility (mi) low',
 'Wind (mph) high',
 'Wind (mph) avg',
 'Wind (mph) high.1',
 'Precip. (in)',
 'Event',
 'day of week',
 'Month of Year']

In [14]:
#create dummy columns of the categorical variables including usertype, gender, event, day of week and month of year
df1_dummies = pd.get_dummies(master_df_rand[[
                                     'usertype',
                                     'gender',
                                     'Event','day of week','Month of Year']])

In [15]:
#check to ensure all the dummies were created successfully
df1_dummies.shape

(1059708, 28)

In [16]:
#take a dataframe of all the important variables needed in the dataframe
df1=master_df_rand[['tripduration',
 'Distance in km',
 'age',
 'Temp high (F)',
 'Temp avg (F)',
 'Temp low (F)',
 'Dew Point high',
 'Dew Point avg',
 'Dew Point low',
 'Humidity avg',
 'Humidity low',
 'Visibility (mi) avg',
 'Visibility (mi) low',
 'Wind (mph) high',
 'Wind (mph) avg',
 'Precip. (in)']]

In [17]:
#concatanate the predictor variables with the dummies dataframe
dftotal=pd.concat([df1,df1_dummies],axis=1)
dftotal.head()

,tripduration,Distance in km,age,Temp high (F),Temp avg (F),Temp low (F),Dew Point high,Dew Point avg,Dew Point low,Humidity avg,...,Month of Year_11,Month of Year_12,Month of Year_2,Month of Year_3,Month of Year_4,Month of Year_5,Month of Year_6,Month of Year_7,Month of Year_8,Month of Year_9
0,17.816667,2.895861,29.0,90,78,65,63,56,46,47,...,0,0,0,0,0,1,0,0,0,0
1,7.133333,1.066154,34.0,71,67,62,61,59,57,79,...,0,0,0,0,0,0,0,1,0,0
2,7.483333,0.768949,54.0,83,77,71,70,62,51,64,...,0,0,0,0,0,0,1,0,0,0
3,5.666667,0.784819,42.0,59,51,42,31,25,21,40,...,0,0,0,1,0,0,0,0,0,0
4,25.050000,3.899637,27.0,94,86,77,72,68,62,58,...,0,0,0,0,0,0,0,1,0,0

In [18]:
#determine which factors have the gratest impact on trip duration by creating a coefficient matrix and calling the
#tripduration column and put it in descending order
corr_matrix = dftotal.corr()
corr_matrix["tripduration"].sort_values(ascending=False)

tripduration           1.000000
usertype_Customer      0.301741
gender_Unknown         0.255058
Distance in km         0.121349
Temp high (F)          0.106860
Temp avg (F)           0.103846
Temp low (F)           0.097826
Dew Point avg          0.082207
Dew Point low          0.080687
Dew Point high         0.080153
day of week_6          0.060216
day of week_5          0.057814
Event_0                0.036148
gender_Female          0.034641
Month of Year_7        0.032917
Month of Year_8        0.030886
Month of Year_6        0.023799
Month of Year_9        0.020737
Visibility (mi) avg    0.019302
Month of Year_4        0.017264
Month of Year_5        0.014908
Visibility (mi) low    0.010110
Month of Year_10       0.001792
Humidity avg          -0.010453
day of week_4         -0.015445
Event_Rain            -0.018287
day of week_0         -0.020290
day of week_3         -0.021543
Precip. (in)          -0.021591
Event_0               -0.022293
Humidity low          -0.022581
day of week_1         -0.023817
day of week_2         -0.024946
Event_Snow            -0.028188
Month of Year_2       -0.029669
Month of Year_11      -0.032450
Month of Year_3       -0.039254
Month of Year_1       -0.044253
Month of Year_12      -0.047092
Wind (mph) high       -0.048644
Wind (mph) avg        -0.063466
age                   -0.175710
gender_Male           -0.191909
usertype_Subscriber   -0.302836
Name: tripduration, dtype: float64

In [19]:
list(dftotal.columns.values)

['tripduration',
 'Distance in km',
 'age',
 'Temp high (F)',
 'Temp avg (F)',
 'Temp low (F)',
 'Dew Point high',
 'Dew Point avg',
 'Dew Point low',
 'Humidity avg',
 'Humidity low',
 'Visibility (mi) avg',
 'Visibility (mi) low',
 'Wind (mph) high',
 'Wind (mph) avg',
 'Precip. (in)',
 'usertype_Customer',
 'usertype_Subscriber',
 'gender_Female',
 'gender_Male',
 'gender_Unknown',
 'Event_0',
 'Event_0',
 'Event_Rain',
 'Event_Snow',
 'day of week_0',
 'day of week_1',
 'day of week_2',
 'day of week_3',
 'day of week_4',
 'day of week_5',
 'day of week_6',
 'Month of Year_1',
 'Month of Year_10',
 'Month of Year_11',
 'Month of Year_12',
 'Month of Year_2',
 'Month of Year_3',
 'Month of Year_4',
 'Month of Year_5',
 'Month of Year_6',
 'Month of Year_7',
 'Month of Year_8',
 'Month of Year_9']

In [20]:
#normalize the continuous variables that will impact tripduration
master_df['Distance in km']=std.fit_transform(master_df[['Distance in km']])
master_df['age']=std.fit_transform(master_df[['age']])
master_df['Temp high (F)']=std.fit_transform(master_df[['Temp high (F)']])

In [21]:
###Work with the master dataframe and get dummies of the categorical variables
#the start and end stations names are not included in the dummified data set because my computer could not process 
#that many variables with that many rows. The process was taking 3+ hours and the kernel had failed. Therefore,
#this model is under the assumption that the 'distance in km' column considers all possible combinations of 
#start and end stations travelled. Therefore the model will still work with just the distance in km column. In theory,
#if a user inputted the start and end station, the machine would determine the distance between the two points,
#which is why the distance in km column accomodates for that.
master_dummies=pd.get_dummies(master_df[[
                                     'usertype',
                                     'gender',
                                     'Event','day of week','Month of Year']])

In [22]:
#create a new master dataframe by concatanating the original master and dummies dataframe
master_df_total=pd.concat([master_df,master_dummies],axis=1)

In [23]:
#create a dataframe with a random sample of the dataframe and run a test linear regression to determine accuracy
df_rs = master_df_total.sample(frac = 0.085, random_state = 1)

In [24]:
list(df_rs.columns.values)

['Unnamed: 0',
 'index',
 'tripduration',
 'starttime',
 'stoptime',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender',
 'Distance in km',
 'startday',
 'age',
 'speed in m/s',
 'Date',
 'Temp high (F)',
 'Temp avg (F)',
 'Temp low (F)',
 'Dew Point high',
 'Dew Point avg',
 'Dew Point low',
 'Humidity high',
 'Humidity avg',
 'Humidity low',
 'Sea Level Press. (in) high',
 'Sea Level Press. (in) avg',
 'Sea Level Press. (in) low',
 'Visibility (mi) high',
 'Visibility (mi) avg',
 'Visibility (mi) low',
 'Wind (mph) high',
 'Wind (mph) avg',
 'Wind (mph) high.1',
 'Precip. (in)',
 'Event',
 'day of week',
 'Month of Year',
 'usertype_Customer',
 'usertype_Subscriber',
 'gender_Female',
 'gender_Male',
 'gender_Unknown',
 'Event_0',
 'Event_0',
 'Event_Rain',
 'Event_Snow',
 'day of week_0',
 'day of week_1',
 'day of week_2',
 'day of week_3',
 'day of week_4',
 'day of week_5',
 'day of week_6',
 'Month of Year_1',
 'Month of Year_10',
 'Month of Year_11',
 'Month of Year_12',
 'Month of Year_2',
 'Month of Year_3',
 'Month of Year_4',
 'Month of Year_5',
 'Month of Year_6',
 'Month of Year_7',
 'Month of Year_8',
 'Month of Year_9']

In [36]:
#create a dataframe of all the predictor variables that are important for the model based on the coefficient matrix

df_predictors=df_rs[[
 'Distance in km',
 'age',
 'Temp high (F)',
 'usertype_Subscriber','usertype_Customer',
 'gender_Male', 'gender_Female']]

In [37]:
#create dataframe with only the target variable, trip duration
df_tripduration=df_rs['tripduration']

In [38]:
#create the x,y training and testing variables from the dataframes. The size of the training set will be 80 percent
#the size of the testing set will be 20 percent the variables
x_train,x_test,y_train,y_test=train_test_split(df_predictors,df_tripduration,test_size=.2, random_state=1)

In [39]:
#simplify the linear regression function to lm
lm=LinearRegression()

In [40]:
#create the linear regression model using the lm.fit function on the x and y training sets
lm.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [41]:
#print the r^2 score of the linear regression model to determine the level of accuracy the contains
lm.score(x_test,y_test)

-77.85524220457263

In [43]:
#test the model using lm.predict and the x_test set of data
lm.predict(x_test)

array([15.75299596, 12.4528108 , 14.17259866, ...,  7.55394492,
       23.66334794, 16.30806628])

In [44]:
#import stats models to check the R^2 value of the model
import statsmodels.api as sm

In [45]:
r = sm.OLS(df_tripduration, df_predictors).fit()
r.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           tripduration   R-squared:                       0.699
Model:                            OLS   Adj. R-squared:                  0.699
Method:                 Least Squares   F-statistic:                 4.468e+05
Date:                Mon, 30 Apr 2018   Prob (F-statistic):               0.00
Time:                        17:24:19   Log-Likelihood:            -4.8330e+06
No. Observations:             1344406   AIC:                         9.666e+06
Df Residuals:                 1344399   BIC:                         9.666e+06
Df Model:                           7
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Distance in km          2.4733      0.015    163.245      0.000       2.444       2.503
age                     0.2761      0.011     25.934      0.000       0.255       0.297
Temp high (F)           0.6598      0.008     86.151      0.000       0.645       0.675
usertype_Subscriber    12.7933      0.048    266.120      0.000      12.699      12.888
usertype_Customer      21.8713      0.034    636.782      0.000      21.804      21.939
gender_Male            -1.1485      0.049    -23.221      0.000      -1.245      -1.052
gender_Female           0.5287      0.050     10.497      0.000       0.430       0.627
==============================================================================
Omnibus:                  1004455.528   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      14556141636.105
Skew:                          -1.746   Prob(JB):                         0.00
Kurtosis:                     512.745   Cond. No.                         14.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""